/**
 * Generic styles
 */

body {
	background-color: $bgColor;
	color: #333;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.5em;
	margin-bottom: 0.75em;
}

#app {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hide {
	display: none;
}